<!doctype html>
<html>
	<head>
	</head>
	<body>
		<section id="mainmenu" class="section">
			<div class="container">
				<aside class="menu">
					<p class="menu-label">
						{{ title }}
					</p>
					<ul class="menu-list">
						<li class="field">
							<p class="control has-icons-left has-icons-right">
								<input v-bind:disabled="recording" v-model="urlFilter" class="input is-info is-rounded" type="text" placeholder="Pattern to record: /api/">
								<span class="icon is-small is-left">
									<i class="fa fa-filter"></i>
								</span>
							</p>
						</li>
						<li class="field">
							<a v-if="recording" class="button is-rounded is-danger" v-on:click="stop">
								{{ stopButtonLabel }}
							</a>
							<a v-else class="button is-rounded" v-on:click="record">
								{{ recordButtonLabel }}
							</a>
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</body>
</html>